---
{{ ansible_managed | comment }}

version: "3.0"

services:
  database:
    image: postgres:{{ postgres_version }}
    container_name: postgres
    environment:
      POSTGRES_DB: {{ guac_db_name }}
      POSTGRES_USER: {{ guac_db_user }}
      POSTGRES_PASSWORD: {{ guac_db_password }}
    volumes:
      - {{ postgres_volume }}:/var/lib/postgresql/data
      - {{ init_db_file_path }}:/docker-entrypoint-initdb.d/init.sql
    restart: always
  guacd:
    image: guacamole/guacd:{{ guac_version }}
    container_name: guacd
    restart: always
  guacamole:
    image: guacamole/guacamole:{{ guac_version }}
    container_name: guacamole
    ports:
      - 127.0.0.1:8080:8080
    environment:
      GUACAMOLE_HOME: {{ guacamole_home_container }}
      GUACD_HOSTNAME: guacd
      POSTGRES_HOSTNAME: database
      POSTGRES_DATABASE: {{ guac_db_name }}
      POSTGRES_USER: {{ guac_db_user }}
      POSTGRES_PASSWORD: {{ guac_db_password }}
      LDAP_HOSTNAME: ldap
      LDAP_PORT: 1389
      LDAP_SEARCH_BIND_DN: {{ ldap_admin_dn }}
      LDAP_SEARCH_BIND_PASSWORD: {{ ldap_admin_password }}
      LDAP_USER_BASE_DN: {{ ldap_user_base_dn }}
      LDAP_CONFIG_BASE_DN: {{ ldap_config_base_dn }}
    volumes:
      - {{ guacamole_home_host }}:{{ guacamole_home_container }}
    restart: always
    labels:
      - "traefik.enable=true"
      # Routers
      - "traefik.http.routers.guacamole.rule=Host(`{{ guacamole_domain }}`)"
      - "traefik.http.routers.guacamole.tls=true"
{% if lets_encrypt %}
      - "traefik.http.routers.guacamole.tls.certResolver=le"
{% endif %}
      - "traefik.http.routers.guacamole.middleWares=add-guacamole,hsts-headers@file"
      # Middlewares
      - "traefik.http.middleWares.add-guacamole.addPrefix.prefix=/guacamole"
  ldap:
    image: bitnami/openldap:{{ openldap_version }}
    container_name: ldap
    environment:
      LDAP_ROOT: {{ ldap_base_dn }}
      LDAP_ADMIN_USERNAME: ldapadmin
      LDAP_ADMIN_PASSWORD: "{{ ldap_admin_password }}"
      LDAP_CONFIG_ADMIN_USERNAME: ldapconfigadmin
      LDAP_CONFIG_ADMIN_PASSWORD: "{{ ldap_config_admin_password }}"
    ports:
      - 1389:1389
    volumes:
      - {{ openldap_volume }}:/bitnami/openldap
      - {{ schema_directory }}:/ldifs:ro
      - {{ guac_schema_file_path }}:/schema/custom.ldif:ro
    restart: always
  # ssp:
  #   image: ltbproject/self-service-password:{{ self_service_password_version }}
  #   container_name: self_service_password
  #   volumes:
  #     - ./ssp.conf.php:/var/www/conf/config.inc.local.php:ro
  #   restart: always
  #   labels:
  #     - "traefik.enable=true"
  #     # Routers
  #     - "traefik.http.routers.ssp.rule=Host(`{{ ssp_domain }}`)"
  #     - "traefik.http.routers.ssp.tls=true"
# {% if lets_encrypt %}
  #     - "traefik.http.routers.ssp.tls.certResolver=le"
# {% endif %}
  #     - "traefik.http.routers.ssp.middleWares=hsts-headers@file"
  reverse_proxy:
    image: traefik:{{ traefik_version }}
    container_name: traefik
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - {{ traefik_dynamic_config }}:/dynamic_conf.yml
{% if lets_encrypt %}
      - {{ traefik_acme_volume }}:/acme
{% endif %}
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedByDefault=false"
      - "--providers.file.filename=/dynamic_conf.yml"
      - "--providers.file.watch=true"
      - "--entryPoints.web.address=:80"
      - "--entryPoints.web.http.redirections.entryPoint.to=websecure"
      - "--entryPoints.web.http.redirections.entryPoint.scheme=https"
      - "--entryPoints.web.http.redirections.entryPoint.permanent=true"
      - "--entryPoints.websecure.address=:443"
{% if lets_encrypt %}
      - "--certificatesResolvers.le.acme.email={{ lets_encrypt_email }}"
      - "--certificatesResolvers.le.acme.storage=/acme/acme.json"
      - "--certificatesResolvers.le.acme.httpChallenge.entryPoint=web"
{% endif %}
