---

# Lets encrypt configuration
lets_encrypt: false
lets_encrypt_email: user@example.com

# Guacamole webapp admin account (guacadmin) password
guac_admin_password:

# Guacamole database password
guac_db_password:

# LDAP admin (ldapadmin) password
ldap_admin_password:

# LDAP config admin (ldapconfigadmin) password
ldap_config_admin_password:

# LDAP admin and config admin password salt
ldap_salt:
  admin:
  config_admin:

# Additional apt packages
apt_packages_extra: []

# Additional snap packages
snap_packages_extra: []
