---

# Email variables
email:
  enabled: no
  host: smtp.example.com
  port: 465
  address: admin@example.com
  username: admin@example.com
  password: password

# Users that should be present
# users:
#   - username: example
#     full_name: Example User
#     surname: User
#     number: 11000
#     email: user@example.com
users: []

# Users remove
# Set remove to yes to delete user data and home directory
# users_deleted:
#   - username: example
users_deleted: []
