version: 1

dn: {{ ldap_base_dn }}
objectClass: dcObject
objectClass: organization
dc: mousehole
o: mousehole

dn: {{ ldap_user_base_dn }}
objectClass: organizationalUnit
ou: users

dn: {{ ldap_groups_base_dn }}
objectClass: organizationalUnit
ou: groups

dn: {{ mouseholeusers_dn }}
cn: mouseholeusers
gidNumber: {{ mouseholeusers_gid }}
objectClass: posixGroup
